@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model LibraryManagementSystem.Models.Book

<h1>Add a New Book</h1>

<form method="post">
    <div>
        <label>Title</label>
        <input asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>
    <div>
        <label>Author</label>
        <input asp-for="Author" />
        <span asp-validation-for="Author"></span>
    </div>
    <div>
        <label>Genre</label>
        <input asp-for="Genre" />
        <span asp-validation-for="Genre"></span>
    </div>
    <button type="submit">Add Book</button>
</form>

